h1,h2,h3,h4,p,ul,ol,li,body {
    margin: 0;
    padding: 0;
    }
.clearfix:after, .clearfix:before {
    content: "";
    display: block;
    clear: both;
    }
*, *:after, *:before {
    box-sizing: border-box;
    }
a {
    transition: all 0.3s ease-out;
    }
a:hover {
    transition: all 0.3s ease-out;
    }
body{
    height: 2500px;
    font-family: 'Ubuntu', sans-serif
}
.container{
    width: 960px;
    margin:auto;
}
.header{
    background: url(../img/headerBgDark.png)center center repeat;
}
.topheader{
    background: url(../img/headerBgLight.png) center center repeat;
    height: 809px; 
    text-align: center;
    padding: 150px;
}

.tlacitko a{
    color: #fff;
    text-decoration: none;
    font-size: 20px;
}
.tlacitko a:hover:focus{
    color: white;
}
.logo{
    width: 180px;
    height: 180px;
    margin: 0 0 50px;
}

.headertext{
    color: white;
    line-height: 65px;
    font-size: 50px;
}
.asistent{
    font-size: 35px;
    font-weight: 500;
}
p span{
    display: block;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}
.obr1, .obr2, .obr3{
    height: auto;
    width: 100%;
}
.headerobrazky, .row{
    display:flex;
    flex-wrap: nowrap;
    margin-right: 0 !important;
    margin-top: 1px;
}
.headerobrazky, .row div{
    padding: 0;
}

.col-sm-4{
    padding:0;
}
h5{
    padding: 50px 0 30px 0;
    color: #ae0f0a;
}
.sectext p{
    font-size:14px;
    margin-bottom: 8px;
}
.sectext .red{
    color:#ae0f0a;
}
.seznam{
    text-align: center;
}
.seznam ul{
    justify-content: space-between;
}
.seznam ul li{
   display:inline-block; 
   border: 1px solid grey;
   padding: 17px 45px;
   text-transform: uppercase;
   font-size: 20px;
}
.seznam{
    margin: 70px 50px;
}
.seznam ul i{
    margin-left: 50px;
}
.seznam ul li:hover{
    background-color: #e6e6e6;
}
.seznam ul li a.active{
    color:#ae0f0a;
}
.seznam ul a{
    color:grey;
    text-decoration: none;
}
.col-md-4{
    text-align: left;
    line-height: 10px;
}
.smer{
    margin-bottom: 35px;
}
.mail{
    margin-bottom: 36px;
}
.footer{
    position: relative;
    padding: 50px 0;
    background: url(../img/footerBg.png) center center repeat;
}
.footer .spodek{
    display: flex;
    justify-content: space-between;
}
.spodek{
    line-height: 10px;
}
.adresa{
    flex: 0 1 29%;
}
.spodekimg{
    position: absolute;
    top: -30px;
}